@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');

body {
    background-color: rgb(240, 239, 239);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    background-image: url('https://images.squarespace-cdn.com/content/v1/58a69f5be6f2e182266d2d05/1488805397065-N8MR406U3IF0YT8NUXIK/%C2%A9_HB_20120924_0002.jpg?format=1000w');
    height: 300px;
}

.header_paragraph {
    color:white;
    font-size: 30px;
    font-weight: bold;
    padding-left: 15px;
}


h1 {
    font-family: 'Montserrat Subrayada', sans-serif;
    text-decoration: none;
    font-size: 4rem;
    margin: 0;
    color: white;
}

h2 {
   font-family: 'Montserrat Subrayada', sans-serif; 
   color: black;
   padding-top: 50px;
}

h3 {
    font-size: 2rem;
    margin: 0;
    color: #9f2e00;
}

#header-text {
    flex-basis: 80%;
    display: flex;
}

nav {
    flex-basis: 20%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 10px 15px;
}

nav a{
    color: white;
    font-weight: bold;
    font-size: 20px;
}
a {
    margin: 2px;
    text-decoration: none;
    color: black;
    padding: 10px;
}

a, p {
    font-family: monospace;
}
/* 
#container {
    width: 100%;
    margin-left: 50px;
    margin-right: 50px
} */